canvas{
    border: 1px dotted #000000;
}

video{
    border: #000000 1px solid;
}

body {
    color: #777;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active #menu {
        left: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        left: 150px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
    min-width: 820px;
}

.pure-g{
    max-width: 1000px;
    padding-left: 0px
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */

    /*
    This styles the selected menu item `<li>`.
    */
        /*
        This styles a link within a selected menu item `<li>`.
        */


    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/


button{
    background: #191818;
    border: none;
    padding: 10px 5px 10px 10px;
    font-size: 110%;
    outline: none;
}

button:hover{
    color: aliceblue;
}

.pure-menu-selected {
  color: aliceblue;
}

#colors{
    display: inline-block;
    padding-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#colors .color{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid #666666;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#sizes{
    display: inline-block;
    padding-left: 8px;
    margin-bottom: 10px;
}

#sizes .size{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0,0,0,0);
    line-height: 17px;
    border-radius: 1px;
    border: 1px solid #666666;
}

#sizes .size div{
    display: inline-block;
    vertical-align: middle;
    background: #000;
    border-radius: 5px;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}
