body {
    overflow: hidden;
}

#canvas {
    border:#000000 1px solid;
}

#selector {
    margin: 0px;
    padding: inherit;
    
}
/*
.main{
    position: relative;
    overflow: hidden;
    zoom: 1;
}*/

video{
    width: 200px;
    height: 200px;
    border: #000000 1px dotted;
}

#tools{
    
    padding: 5px;
}

.main{
    
    overflow: hidden;
    zoom: 1;
    margin: 0 0 35px;
}

.main .box01{
    display: inline-block;
    width: 600px;
    float: left;
    margin-right: 20px;
}

.main .box02{
    display: inline-block;
    width: 400px
    float: right;
}

/*.box01{
    display: inline-block;
    float: left;
    margin: 0px;
    padding:0px;
    vertical-align: text-top;
    margin-right: 20px;
}

.box02{
    display: inline-block;
    float: right;
    margin: 0px;
    padding:0px;
    vertical-align: text-top;
    
}
*/
.main ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}

.main ul li{
    margin: 0 0 5px;
    padding: 0;
}

.tool{
    display: inline-block;
    vertical-align: text-top;
}


button{
    background-color:#c98f8f;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    width: 50px;
    border-radius:2px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}


button:hover{
    color: hotpink;
}

#colors{
    display: inline-block;
    padding: 0px;
}

#colors .color{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    border: #ffffff;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#sizes{
    display: inline-block;
    padding: 0px;
    margin-bottom: 10px;
}

#sizes .size{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    line-height: 17px;
    border-radius: 10px;
}

#sizes .size div{
    display: inline-block;
    vertical-align: middle;
    background: #000;
    border-radius: 5px;
}
