body {
    overflow: hidden;
}

#canvas {
    border:#000000 1px solid;
    /*float: left;*/
}

/*li {
    list-style: none;
}
*/
#selector {
    margin: 0px;
    padding: inherit;
    
}
/*
.main{
    position: relative;
    overflow: hidden;
    zoom: 1;
}*/

.main{
    display: inline-block;
}

.box{
    display: inline-block;
    margin: 0px;
    padding:0px;
    vertical-align: text-top;
    margin-right: 20px;
}

.main ul{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}

.main ul li{
    margin: 0 0 5px;
    padding: 0;
}

button:hover{
    color: hotpink;
}

#colors{
    display: inline-block;
    padding: 0px;
}

#colors .color{
    display: inline-block;
    width: 20px;
    height: 20px;
    vartical-align: middle;
    cursor: pointer;
    border-radius: 10px;
    border: #ffffff;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

#sizes{
    display: inline-block;
    padding: 0px;
    margin-bottom: 10px;
}

#sizes .size{
    display: inline-block;
    width: 20px;
    height: 20px;
    vartical-align: middle;
    background: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
    line-height: 17px;
    border-radius: 10px;
}

#sizes .size div{
    display: inline-block;
    vartical-align: middle;
    background: #000;
    border-radius: 5px;
}
